body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    margin: 0; /* remove default margin */
    /* background-image: url("water.gif");
    background-repeat: repeat;
    background-size: auto; */ /* or cover/contain if you don’t want strict tiling */
    background-image: none;
}

body::before {
    content: "";
    position: fixed;  /* so it stays in place even if page scrolls */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("water.gif") repeat;
    opacity: 0.2;     /* adjust transparency as needed */
    pointer-events: none; /* let clicks pass through to content */
    z-index: -1;          /* sit behind the main content */
  }

.icon-banner {
    max-width: 1100px;
    margin: auto; /* This centers the banner horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.icon-banner img {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
}

#content {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.main-flex-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#sticky-nav {
    width: 200px;
    position: sticky;
    top: 200px;
}

.nav-content {
    padding: 1em;
    text-align: left;
}

#sticky-nav a {
    display: block;
    margin-bottom: 1em;
    color: #333;
    text-decoration: none;
}

#sticky-nav a:hover {
    text-decoration: underline;
}

.container {
    padding-left: 20px; /* Adjust as needed */
}
