body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.icon-banner {
    max-width: 1100px;
    margin: auto; /* This centers the banner horizontally */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.icon-banner img {
    width: 50px;
    height: 50px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
}

#content {
    padding: 30px;
    max-width: 1100px;
    margin: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@keyframes jitter {
    0% { transform: translate(0, 0); }
    25% { transform: translate(1px, 1px); }
    50% { transform: translate(0, 1px); }
    75% { transform: translate(1px, 0); }
    100% { transform: translate(0, 0); }
}

.jitter-text::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    animation: jitter 0.1s infinite;
}

