body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: top;
    /*height: 100%; */
}

#content {
    padding: 30px;
    max-width:1100px;
    margin: auto;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
